.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.sectors {
  width: 100vw;

  display: flex;
  color: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.sector {
  width: 100vw;
  height: 100vh;
}

.imgSector {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
