.logoAnimation {
  /* position: fixed; */
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  padding: 10%;
}

.logoAnimation img {
  width: 200px;
  height: 200px;
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid var(--primary); /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 20px 0 0 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
